<% @timers.each do |t| %>
  Name: <%= t.name %>
  <br>
  Running: <%= t.running ? 'Yes' : 'No' %>
  <br>
  Started at: <%= t.started_at.to_s %>

  Elapsed: <span id="elapsed-time"></span>

  <br>
  <br>
<% end %>

<a href="/new">Add Timer</a>
