<form action="/create" method="post" accept-charset="utf-8">
  <input type="text" name="name" placeholder="New timer">
  <input type="checkbox" name="running" value="true">

  <br>
  <br>

  <input type="submit" value="Submit">
</form>
